*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 body{
    background: linear-gradient(45deg,#a69300,	#314641,#242734,#000d45,#0080ff)0 0 /1000% no-repeat;
    animation: animate 20s ease infinite;
    }
  @keyframes animate{
    0%{
    background-position: 0 30%, 0 0;
  }
  50%{
    background-position: 100% 70%, 0 0;
  }
  100%{
    background-position: 0 30%, 0 0;
  }   
}